
@import "../../styles/sass/variables";
@import "../../styles/sass/mixin";
.title {
    background-color:$bgColor;
     margin-bottom: 30px;
    & h2 {
      @include text(('Poppins', sans-serif), 36px,  500);
        line-height: 1.6;
        margin: 0;
    }
   &::before {
        content: '';
        position: absolute;
    }

}




@media screen and(max-width: 630px) {
    .works {

    }
}


