

.title {
    background-color: #1f1f20;
    margin-bottom: 30px;

}

.title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #fff;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
}

.title:before {
    content: '';
    position: absolute;
}

@media screen and(max-width: 630px) {
    .works {

    }
}


