@import "../common/styles/sass/variables";

.worksBlock {
    min-height: 100vh;

    background-color:$bgColor;
    .worksContainer {
        flex-direction: column;
        justify-content: flex-start;
        .works {
            border: 1px solid;

            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: 20px;
            align-items: flex-start;
            @media screen and(max-width: 630px) {

            }
        }
    }
}







