.mainBlock {
    height: 100vh;
    background-color: #a5ff36;
}

.text {
    width: 300px;
    background-color: #d0ffff;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #faff23;
}

