
@import "./variables";

@mixin text($fontFamily,$fontSize, $fontWeight ) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $textColor;
}

@mixin position($display, $flexDirection, $alignItems, $justifyContent, $bgColor ) {
  display: $display;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
  background-color: $bgColor;

}