.remoteBlock {
  min-height: 50vh;
  background-color: #1f1f20;

  .remoteContainer {
    flex-direction: column;

    .title {
      background-color: #1f1f20;
      justify-content: flex-start;
        font-family: 'Poppins', sans-serif;
        line-height: 1.2;
        font-weight: 600;
        padding-bottom: 22px;
        font-size: 26px;
    }

    .description {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}









